<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Diplomes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Liste des diplomes</h1>

<form th:action="@{/graduates/export}" method="get">
    <label for="graduationListId">ID de la liste de diplomation</label>
    <input type="text" id="graduationListId" name="graduationListId" placeholder="UUID"/>
    <button type="submit">Telecharger la liste des diplomes</button>
</form>

<a th:href="@{/promotions}">Retour aux promotions</a>
</body>
</html>